#grid-container {
  margin: 0 auto;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: rgb(213, 213, 243);
  width: 500px;
  height: 500px;
  grid-template-areas:
    "1-1 1-2 1-3"
    "2-1 2-2 2-3"
    "3-1 3-2 3-3";
  border: 1px solid white;
}

#grid-container > div {
  border: 1px solid white;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
#grid-container > div.square:hover {
  background-color: rgb(119, 119, 248);
}
.grid-1-1 {
  grid-area: 1-1;
}
.grid-1-2 {
  grid-area: 1-2;
}
.grid-1-3 {
  grid-area: 1-3;
}
.grid-2-1 {
  grid-area: 2-1;
}
.grid-2-2 {
  grid-area: 2-2;
}
.grid-2-3 {
  grid-area: 2-3;
}
.grid-3-1 {
  grid-area: 3-1;
}
.grid-3-2 {
  grid-area: 3-2;
}
.grid-3-3 {
  grid-area: 3-3;
}

img {
  transition: all 0.2s linear;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
}
