@import url(./grid.css);

* {

  font-family: Arial, sans-serif;
}
input,
button {
  border-radius: 20px;
  cursor: pointer;
}

#name-form {
  margin: 0 auto;
  display: flex;
  flex-basis: 2;
  flex-wrap: wrap;
  width: 50vw;
  height: 20vh;
  justify-content: space-between;
  position: relative;
  top: calc(40vh - 80px);
}

#name-form > div {
  width: 100%;
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-around;
}

#name-form input {
  border-radius: 10px;
  height: 30px;
  font-size: 20px;
  padding: 5px;
}

#name-form input:active,
#name-form input:focus {
  outline: none;
}

#name-form button {
  font-size: 22px;
  padding: 10px;
  margin-top: 20px;
}

#display-names {
  display: none;
  margin: 0 auto;
  text-align: center;
}

#game-controls {
  display: none;
  text-align: center;
  justify-content: space-around;
}
